@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');

.container {
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
}

.list {
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.titulo {
    font-size: 25px;
    font-family: 'Fira Sans';
    margin: 5px auto 5px auto;
}

.container_buscador {
    width: 100%;
    margin: 20px auto 5px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.botonBuscar {
    width: 160px;
    height: 48px;
    margin: 10px auto 15px auto;
    background: #64d269;
    border-radius: 10px;

    font-style: normal;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
    padding-top: 13px;
    cursor: pointer;
}

.data {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.matchsContainer {
    width: 50%;
}

.mapContainer {
    width: 50%;
    height: 100%;
}

.spin {
    margin: 20px auto 0 auto;
    padding-left: 180px;
}